.container-drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parameters-drawer {
  width: 90%;
  margin: 5vh 3vw;
  padding: 8px 0px;
  border-bottom: solid black 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

